* {         
margin:0;
padding:0;
}
html {

overflow-x:hidden;
}
body {
  color: white;
  background-image: url('../img/bg.png');
      background-repeat: repeat;
      background-attachment: fixed;
  background-color: black;
  width: 100%;

}
#wrap {

  width:800%;
  overflow: hidden;
  opacity: 0.01;
}
#one, #two, #three, #four, #five,#six,#seven,#eight {
  width:12.5%;
  float:left;
  margin-top: 1%;
  
}



/*.mbtn{
  width: 80%;
  color: white;
  margin: 10%;
  padding: 5%;
  background-color: #333333;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  border-radius: 5px;
}*/

.mbtn {
  align-self:center;
  background:transparent;
  padding:2%;
  margin:0.5rem 1rem;
  transition:all .5s ease;
  color:#777777;
  font-size:1rem;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 50px 225px 50px/50px 225px 50px 255px;
  border:solid 2px #777777;
}

.mbtn:focus {
  outline: none;
}
.focus{
 /* box-shadow:  0 3px 10px 0px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: bolder;
  background-color: #999999;*/
  border:solid 5px #ffffff;  
 color: #ffffff;
 font-weight: bolder; 
}
.l-menu, .r-menu {
  width:15%;
  position: fixed;  
  top:10%;
  z-index: 100;
  background-color: #ffffff;
  height: 90%;
  background-image: url('../img/eventsbg.jpg');
      background-repeat: repeat;
      background-attachment: fixed;
  background-color: black;
}

.l-menu {
  left:0;
  box-shadow:  3px 10px 10px 0px rgba(255, 255, 255, 0.3);  
}

.r-menu { 
  right:0;
  box-shadow:  -3px 10px 10px 0px rgba(255, 255, 255, 0.3);
  
}

.m-list {
  margin-top: 20%;
  text-align: center;
}

li {
  list-style-type: none;
}

.container {
  text-align: center;
  width: 65%;
  margin: auto;
}

.card {
  border: none;
  width:30%;
  display: inline-block;
  margin:1% 1%;
  border-top: solid #999999 1px;
  border-bottom: solid #999999 5px;
  border-radius: 5px
}


.card-img {
  border-radius: 50%;
  width: 100%;
}

.card-block {

  vertical-align: middle;
  width: 60%;
  float: right;
}

.card-title {
  margin: 0;
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card-content {
  margin: 1%;
  font-size: 0.8em;
  height: 25%;
}

.img-div {
  float: left;
  width: 35%;
  margin: 2% 0;
}

a {
  text-decoration: none;
}

.logo-div {
  width: 25%;
  position: fixed;
  top: 0;
  left: 37.5%;
}

.logo {
  width: 100%;
}

body::-webkit-scrollbar-track
{
  display: none;
}

body::-webkit-scrollbar
{
  display: none;
}

body::-webkit-scrollbar-thumb
{
  display: none;
}

* html ul {position:absolute;left:expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');} 
* html {background:url(fake.html)}
* html #full {height:100%;}

/*mobile*/

@media only screen and (max-width: 768px) {
  #wrap {
    width: 100%;
    margin-top: 15%;
  }
  
  #one, #two, #three, #four, #five,#six,#seven,#eight {
    width:100%;   
  }
  .l-menu {
    display: none;
  }
  .r-menu { 
    display: none;
  }
  .card {
    width: 100%;
    padding: 0;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .m_heading {
    display: block;
    margin: 5%;
    padding: 0;
    font-size: 1.2em;
  }

  .card-title {
    font-size: 1.2em;
  }
  .card-content {
    font-size: 1em;
  }
  .picture {
    display :none;
  }
  .card-content {
    display: block;
  }
  .socialbtns {
    display: block;
  }
  .img-div{
    display: block;
  }
  .card-block {
    width: 60%;
  }
  .logo-div {
    width: 100%!important;
    position: absolute;
    text-align: center;
    left: 0;
  }
  .logo {
    width: 50%!important;
  }
}
